<<<<<<< HEAD
{# templates/lucky/number.html.twig #}
<h1>Your lucky number is {{ number }}</h1>
=======
{# templates/lucky/number.html.twig #}
<h1>Your lucky number is {{ number }}</h1>
>>>>>>> 03ba94b208baea597a5c27c50ae3b71571862ad6
